*{
    margin: 0;
    padding: 0;
}
.box{
    height: 80px;
    width: 80px;
    border: 3px solid black;
    margin: 20px;
}
#heading{
    margin-left: 200px; 
}
#container{
    height: 300px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: lavender;

    display: flex;
    
    justify-content: center;
   

}
#box1{background-color: aqua;
      order: 3;
}
#box2{background-color: blueviolet;
      order: 1;
}
#box3{background-color: yellow;
      order: 4;
}
#box4{background-color: tomato;
      order: 2;
    }